<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.robertomanfreda.rlogger.core.RLoggerMaskingLayout">
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>

                <enabled>true</enabled>

                <masks>
                    <mask>
                        <id>foo</id>
                        <regex>my_foo_regex</regex>
                        <replacement>my_foo_replacement</replacement>
                        <sensitive>false</sensitive>
                    </mask>

                    <mask>
                        <id>bar</id>
                        <regex>my_bar_regex</regex>
                        <replacement>my_bar_replacement</replacement>
                        <sensitive>false</sensitive>
                    </mask>
                </masks>
            </layout>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>